a:not(.button-text) {
  color:  darkgoldenrod;
}
a, a:visited {
  text-decoration: none;
}

img {
 /* max-width: 100%;
  */
  vertical-align: middle;
  border: 0;
}
@media (min-width: 992px){
  .col-md-3 {
      width: 25%;
 }
}
@media (min-width: 768px) {
  .col-sm-6 {
      width: 50%;
      float: left;
      position: relative;
      padding-left: 35px;
      padding-right: 15px;
 }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}
::ng-deep .owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    display: none;
  }
  .mobilewidth{
    width: 100% !important;
  }
}

@media (min-width: 1281px) {

  ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 44%;
    margin-top: -351px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {

  ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 44%;
    margin-top: -351px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {

  ::ng-deep .owl-theme .owl-nav [class*=owl-] {

    display: none;
  }

}

::ng-deep .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
 /* margin-left: -555px !important;
  */
  margin-top: -207px !important;
  margin-left: -673px !important;
}
::ng-deep .owl-next {
  position: absolute;
  margin-left: 607px !important;
  margin-top: -207px !important;
}
::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
  background: none !important;
}

.SaleCounter__small-font {
  font-size: 13px;
}

.SaleCounter_deals-view {
  border-radius: 3px;
  font-weight: 700;
  font-style: italic;
  color: #000;
}

.SaleCounter_sale-tag {
  position: absolute;
  top: 1em;
  background: #19ab2a;
  width: 45px;
  padding: 1px 4px;
  font-size: 14px;
  margin: auto;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
  font-style: italic;
}

.SaleCounter_container-img, .SaleCounter_container {
  display: flex;
}
.SaleCounter_container-img{
  width: 20px;
}

.SaleCounter_clock {
  vertical-align: sub;
  margin-right: 4px;

}

.SaleCounter_clock-duration {
  color: #19ab2a;
  padding-left: .4em;
}

