.list-group-horizontal li {
    display: inline-block;
    /* text-align: center; */
    border-color: none;
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
}
li {
    display: inline-block;
    padding-left: 10px !important;
    cursor: pointer;
}
.d-flex {
    overflow-x: scroll;
}
.d-flex::-webkit-scrollbar {
    display: none;
  }
  p-card {
      height: 10rem;
      width: 8rem
  }
  .item-contained ul {
    overflow: hidden;
    /* text-align: center; */
    /* padding-left: 30 px !important; */
    display: inline-block;
    /* text-align: center; */
}

li {
    display: inline-block;
    padding-bottom: 10px !important;
    cursor: pointer;
}
