.charge-btn{
    width: 80%;
     color: white;
     height: 2.75rem;
     background-color: orange;
     /* float: right; */
}  
/* :host.my-btn{
    background-color: orange !important;
    color: white;
    height: 4px;
}
.ui-button.my-btn {
    background-color: orange;
} */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    border-radius: 12px;
    background-color: #E9F9C5;

  }
  
  .button2 {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    border-radius: 12px;
    background-color: #C5EDF9;


  }
  
  .button3 {
    background-color: white; 
    color: #f44336; 
    border: 2px solid #f44336;
    border-radius: 12px;
    background-color: #F9E3C5;

  }
  .card-body{
      height: 50vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  .card-body::-webkit-scrollbar {
    display: none;
  }
  .cart-container{
    width: 80%; margin-left:auto; margin-right:auto; border: 1px solid grey; border-radius:8px
  }

  