<footer class="bg-white border-bottom border-top">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-4">
            <div class="border-right py-5 pr-5">
               <h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">TOP CATEGORIES</h6>
               <div class="row no-gutters">
                  <div class="col-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#">Momo </a></li>
                        <li><a href="#">Chaumin </a></li>
                        <li><a href="#">Sandwich</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Pizza</a></li>
                     </ul>
                  </div>
                  <div class="col-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#">Crunchy Item</a></li>
                        <li><a href="#">Pack</a></li>
                        <li><a href="#">Liquore</a></li>
                        <li><a href="#">BreakFast</a></li>
                        <li><a href="#">Dinner</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="border-right py-5 px-5">
               <h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">ABOUT US</h6>
               <div class="row no-gutters">
                  <div class="col-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#">History</a></li>
                        <li><a href="#">Band of Trust</a></li>
                        <li><a href="#">Brand Guidelines</a></li>
                        <li><a href="#">TV Commercials</a></li>
                        <li><a href="#">In the News
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Offers</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="py-5 pl-5">
               <h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">DOWNLOAD APP</h6>
               <div class="app">
                  <a href="#">
                     <img class="img-fluid" src="assets/img/google.png">
                  </a>
                  <a href="#">
                     <img class="img-fluid" src="assets/img/apple.png">
                  </a>
               </div>
               <h6 class="mt-4 mb-4 f-14 text-dark font-weight-bold">KEEP IN TOUCH</h6>
               <div class="footer-social">
                  <a class="btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
                  <a class="btn-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a>
                  <a class="btn-google" href="#"><i class="fa fa-google-plus"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /.container -->
</footer>

<div class="copyright bg-light py-3">
   <div class="container">
      <div class="row">
         <div class="col-md-6 d-flex align-items-center">
            <p class="mb-0">© Copyright {{ cr | date:'yyyy' }}  . All Rights Reserved
            </p>
         </div>
         <div class="col-md-6 text-right">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOQKYPTWEVYagtz54sjuA3II_7JMfX_omKwrNvxhB-ELbOtVgqFgHSnpx4aF479JQPQA&usqp=CAU">
         </div>
      </div>
   </div>
</div>
