  <section  class="login-block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 d-none d-sm-block banner-sec">
          <div class="signup__overlay">
          <div class="banner">
            <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>

              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../assets/img/password-strength-computer-icons-information-microsoft-png-favpng-ENHphrNbpSKVvSpSb7wsPn2Nz.jpg" class="img-fluid">
                </div>
                <div class="carousel-item">
                  <img src="../../../../assets/img/change_password_preview.png" class="img-fluid">

                </div>


              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-7 col-xs-12 login-sec">
          <h2 class="text-center">Change Password</h2>
          <form [formGroup]="changePasswordForm"  class="login100-form validate-form">
            <div class="wrap-input100 validate-input">
              <span class="label-input100">Old Password</span>
              <input class="input100" formControlName="oldPassword" name="oldPassword" type="password" required placeholder="Type your Old Password">
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input">
              <span class="label-input100">New Password</span>
              <input class="input100" formControlName="newPassword" name="password" type="password" required placeholder="Type your New Password">
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input">
              <span class="label-input100">Confirm Password</span>
              <input class="input100" formControlName="confirmPassword" name="confirmPassword" type="password" required placeholder="Confirm New Password">
              <span class="focus-input100"></span>
            </div>





            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <button  (click)=onSubmit(changePasswordForm)  type="submit" class="btn btn-primary mr-2">
                 Submit
                </button>
                <button  (click)="navigateToLogin()" class="btn btn-primary mr-2">
                  Cancel
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>

