<div class="container d-sm-none d-block">
  <div class="row">
    <div class="col-3">
      <div class="card">

        <div class="card-body">
          <img src="https://seeklogo.com/images/C/classy-mens-wear-logo-DF8B1EE3E6-seeklogo.com.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Men's fashion</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">

        <div class="card-body">
          <img src="https://www.kindpng.com/picc/m/463-4636269_television-png-transparent-images-transparent-background-tv-logo.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">TV</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" routerLink="/category/Electronic%20Devices/5">

        <div class="card-body">
          <img src="https://www.logodesign.net/logo/tech-wires-forming-letter-o-5066ld.png?size=2&industry=electronics" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Electronics</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">

        <div class="card-body">
          <img src="https://simg.nicepng.com/png/small/43-433284_medicine-transparent-medical-clip-art-black-and-white.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Medicines</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" routerLink="/category/Home%20&%20Life%20Style/8">

        <div class="card-body">
          <img src="https://seeklogo.com/images/L/lifestyle-logo-07AC8D4FDE-seeklogo.com.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Lifestyle</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">

        <div class="card-body">
          <img src="https://www.pngitem.com/pimgs/m/28-288893_adidas-logo-png-free-download-adidas-shoes-icon.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Sports wear</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">

        <div class="card-body" routerLink="/category/Laptop%20&%20Desktop/12">
          <img src="https://png.pngtree.com/png-vector/20191026/ourmid/pngtree-laptop-icon-png-image_1871608.jpg" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Laptops</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">

        <div class="card-body">
          <img src="https://f0.pngfuel.com/png/984/44/computer-icons-smartphone-mobile-app-file-mobile-smartphone-icon-wikimedia-commons-white-and-teal-phone-logo-png-clip-art.png" alt="Card image cap">
        </div>
        <div class="card-footer text-center p-2">
          <p class="card-text">Mobiles</p>
        </div>
      </div>
    </div>
  </div>
</div>